body{
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.registro-foto{
	display: flex;
	justify-content: center;
	align-items: center;
}

.registro-foto i{
	font-size: 80px;
	color: #cacaca;
}


.registro-foto__salida.negado i{
	color: red;
}

.registro-foto__entrada.negado i{
	color: red;
}

.registro-foto__salida.activado i{
	color: #F58634;
}

.registro-foto__entrada.activado i{
	color: #00A859;
}



.registro-foto__foto{
	height: 100px;
	width: 100px;
	border: 3px solid #cacaca;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 20px;
	margin-right: 20px;
}

.registro-foto__foto img{
	width: 100%;
	height: 100%;
}

.hora-actual{
	text-align: center;
	font-weight: 700;
	font-size: 80px;
}

.fecha-actual{
	color: #7a7a7a;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.instruccion{
	text-align: center;
	color: #b0b0b0;
	font-size: 24px;
	font-weight: 600;
	margin-top: 24px;
}

#form-documento{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

#form-documento input{
	text-align: center;
	height: 40px;
	width: 300px;
	border-radius: 20px;
	border: 1px solid #828282;
}

.mensaje-validacion{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #b0b0b0;
}

.mensaje-validacion__autorizado{
	color: #00A859;
}

.mensaje-validacion__rechazado{
	color: red;
}

.nombre{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	color: #3c3c3c;
}

.cargo{
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #999999;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.control-acceso{
height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
